<div class="content" role="main">
  <div class="card-container">
    <button class="card" (click)="login()" *ngIf="!isAuthenticated">
   
      

      <span>Login</span>

    
      
    </button>

    <button class="card" (click)="logout()" *ngIf="isAuthenticated">
   

      <span>Logout</span>



    </button>



  </div>
    <div class="container-fluid" *ngIf="isAuthenticated">
      <div class="row">
        <div class="col">
          <h2>Temperatura</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">Data</div>
        <div class="col">Temperatura ºC</div>
        <div class="col">Temperatura ºF </div>
        <div class="col">Descrição</div>
      </div>


      <div class="row" *ngFor="let item of forecast?.data">
        <div class="col">{{item.date | date:'dd/MM/yyyy'}}</div>
        <div class="col">{{item.temperatureC}}</div>
        <div class="col">{{item.temperatureF}}</div>
        <div class="col">{{item.summary}}</div>
      </div>

    </div>



</div>