apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: dbsecrets
  name: dbsecrets
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
